/*

Color scheme from Adobe Kuler
https://color.adobe.com/Salmon-on-Ice-color-theme-2291686
Created by idealic

Dark Blue/Gray 	- HSB(210,  18,  30) #3E454C
Medium Blue		- HSB(203,  83,  77) #2185C5
Light Blue		- HSB(202,  50,  99) #7ECEFD
White 			- HSB( 39,  10, 100) #FFF6E5
Salmon			- HSB( 10,  60, 100) #FF7F66
*/

html, body {
	background-color: #3E454C;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header, article, footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding: 0 14px;
}

header {
	font-weight: bold;
	margin: 40px auto 10px;
}

header h1 {
	font-size: 3em;
	margin: 0;

	color: #7ECEFD;
}

header h1 a {
	text-decoration: none;
	color: #7ECEFD;
}

header h2 {
	font-size: 1.1em;
	margin: 0;
	margin-bottom: 20px;

	color: #2185C5;
}

header nav ul {
	padding: 0;
	margin: 0;
}

header nav li {
	list-style: none;
	display: inline-block;
	margin-right: 12px;
	font-size: 12pt;
	padding: 8px 16px;
	background-color: rgba(255, 255, 255, 0.1);
}

header nav a {
	color: #7ECEFD;
	text-transform: uppercase;
	text-decoration: none;
}

header nav a:hover li {
	background-color: rgba(255, 255, 255, 0.2);
}



div.main-content {
	background-color: #FFF6E5;
	padding: 2em 0;
}

article {
	font-size: 1.0em;
	line-height: 1.5em;
}

code pre {
	line-height: 1em;
	font-size: 0.8em;
	tab-size: 2;
}

article a {
	color: #FF7F66;

	text-decoration: none;
}

article a:hover {
	text-decoration: underline;
}

footer {
	color: #7ECEFD;
}

@media only screen and (min-width: 600px) {

	header {
		margin: 100px auto 20px;
	}

	header h1 {
		font-size: 5em;
	}

	header h2 {
		font-size: 2.6em;
		margin-bottom: 60px;
	}

	header nav li {
		font-size: 15pt;
	}


	article {
		font-size: 1.2em;
	}
}